@charset "UTF-8";

@media(max-width: 575px) {
    #titulo_cep {
        margin: 15px;
    }
}

.barra {
    font-size: 18px;
}

footer {
    color: rgba(0, 0, 0, 0.575);
    position: absolute;
    bottom: 8px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}